[submodule "src/moduless/dependencies/raylib-5.0"]
	path = src/moduless/dependencies/raylib-5.0
	url = https://github.com/raysan5/raylib
[submodule "src/moduless/dependencies/raylib-cpp-5.0"]
	path = src/moduless/dependencies/raylib-cpp-5.0
	url = https://github.com/RobLoach/raylib-cpp
[submodule "src/tests/dependencies/googletest"]
	path = src/tests/dependencies/googletest
	url = https://github.com/google/googletest
[submodule "src/modules/dependencies/eigen"]
	path = src/modules/dependencies/eigen
	url = https://gitlab.com/libeigen/eigen
