[submodule "src/tests/dependencies/googletest"]
	path = src/tests/dependencies/googletest
	url = https://github.com/google/googletest
[submodule "src/modules/dependencies/eigen"]
	path = src/modules/dependencies/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "src/modules/dependencies/raygui"]
	path = src/modules/dependencies/raygui
	url = https://github.com/raysan5/raygui
[submodule "src/modules/dependencies/raylib"]
	path = src/modules/dependencies/raylib
	url = https://github.com/raysan5/raylib
[submodule "src/modules/dependencies/raylib-cpp"]
	path = src/modules/dependencies/raylib-cpp
	url = https://github.com/RobLoach/raylib-cpp
